.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;

  list-style: none;
}

.advantages-list__item {
  //
}


.advantages-item__img img {
  object-fit: cover;
}
