.main-nav {
  display: flex;
  align-items: center;
  padding-top: 28px;
  padding-right: $padding--xl;
  padding-bottom: 30px;
  padding-left: $padding--xl;

  @include viewport--sm {
    padding-top: 15px;
    padding-right: $padding--sm;
    padding-bottom: 15px;
    padding-left: $padding--sm;
  }
}

.main-nav__link {
  margin-right: 77px;
  padding-top: 11px;
  padding-right: 10px;
  padding-bottom: 11px;
  padding-left: 10px;

  @include viewport--lg {
    margin-right: 50px;
  }
  @include viewport--md {
    margin-right: 30px;
  }
  @include viewport--sm {
    margin-right: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

    font-size: 16px;
  }
  @include font--whitney(18px, 23px, 400, $white);
  @include button-border;
}

.main-nav__link:hover {
  @include button-hover;
}

.main-nav__link:focus {
  @include button-focus;
}

.main-nav__link:active {
  opacity: $opacity--active;
}

.main-nav__button {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  background-color: transparent;
  cursor: pointer;

  @include button-border;
  @include font--whitney(18px, 23px, 400, $white);
  @include viewport--sm {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

    font-size: 16px;
  }
}

.main-nav__button:hover {
  @include button-hover;
}

.main-nav__button:focus {
  @include button-focus;
}

.main-nav__button:active {
  opacity: $opacity--active;
}

.main-nav__button svg {
  width: 24px;
  height: 24px;
  margin-right: 14px;

  @include viewport--sm {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
